/** \file statuscodes.h
 \brief definition of valid status codes
 */
#ifndef STATUSCODES_H
#define STATUSCODES_H

#cmakedefine QREMOTE_PEDANTIC_STATUS_CODES

#ifdef QREMOTE_PEDANTIC_STATUS_CODES
#define SUCCESS_MINIMUM_STATUS 211
#define SUCCESS_MAXIMUM_STATUS 252
#define TEMP_MINIMUM_STATUS 421
#define TEMP_MAXIMUM_STATUS 452
#else /* QREMOTE_PEDANTIC_STATUS_CODES */
#define SUCCESS_MINIMUM_STATUS 200
#define SUCCESS_MAXIMUM_STATUS 299
#define TEMP_MINIMUM_STATUS 400
#define TEMP_MAXIMUM_STATUS 499
#endif /* QREMOTE_PEDANTIC_STATUS_CODES */

#endif /* STATUSCODES_H */
