/** \file version.h
 \brief definition of Qsmtp(d) version string
 */
#define QSMTPVERSION "@QSMTP_VERSION_MAJOR@.@QSMTP_VERSION_MINOR@@QSMTP_VERSION_EXTRAVERSION@"
#define VERSIONSTRING "Qsmtpd " QSMTPVERSION
